.content-product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

    :first-child{
    }
}

::ng-deep .p-carousel-items-container{
    transition: 2s ease !important;
}

.product-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::ng-deep .p-carousel-indicators{
    display: none !important;
}

.productQuickView{
    display: flex;
}

.compare-price {
    color: #939393;
    font-size: 13px;
    margin-left: 5px;
}