.content-product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

    :first-child{
    }
}

::ng-deep .p-carousel-items-container{
    transition: 2s ease !important;
}

::ng-deep p-carousel.p-element{
    width: 100%;
}



::ng-deep .p-carousel-indicators{
    display: none !important;
}

