<div class="wrap">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="order-summary order-summary-is-collapsed">
                <h2 class="visually-hidden">Thông tin đơn hàng</h2>
                <div class="order-summary-sections">
                    <div class="order-summary-section order-summary-section-product-list"
                        data-order-summary-section="line-items">
                        <p-table [value]="selectedForPayment"  [scrollable]="true" 
                        scrollHeight="400px" >

                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>

                                    <td style=" display: flex; gap: 1rem; align-items: center;"> <img [alt]="product.name" [src]="'data:image/jpeg;base64,'+product.image" width="100"
                                            class="shadow-4" />{{product.productName}}</td>
                                    <td>{{product.price | currency:'VND'}}</td>
                                    <td >{{product.quantity}}</td>
                                    <td>{{product.price * product.quantity}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div class="order-summary-section order-summary-section-discount"
                        data-order-summary-section="discount">
                        <form id="form_discount_add" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="fieldset">
                                <div class="field">
                                    <div class="field-input-btn-wrapper">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="discount.code">Mã giảm giá</label>
                                            <input placeholder="Mã giảm giá" class="field-input"
                                                data-discount-field="true" autocomplete="false" autocapitalize="off"
                                                spellcheck="false" size="30" type="text" id="discount.code"
                                                name="discount.code" value="">
                                        </div>
                                        <button type="submit" class="field-input-btn btn btn-default btn-disabled">
                                            <span class="btn-content">Sử dụng</span>
                                            <i class="btn-spinner icon icon-button-spinner"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="order-summary-section order-summary-section-total-lines payment-lines"
                        data-order-summary-section="payment-lines">
                        <table class="total-line-table">
                            <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-line total-line-subtotal">
                                    <td class="total-line-name">Tạm tính</td>
                                    <td class="total-line-price">
                                        <span class="order-summary-emphasis">
                                            {{totalPrice}}
                                        </span>
                                    </td>
                                </tr>


                                <tr class="total-line total-line-shipping">
                                    <td class="total-line-name">Phí vận chuyển</td>
                                    <td class="total-line-price">
                                        <span class="order-summary-emphasis" data-checkout-total-shipping-target="0">
                                            —
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="total-line-table-footer">
                                <tr class="total-line">
                                    <td class="total-line-name payment-due-label">
                                        <span class="payment-due-label-total">Tổng cộng</span>
                                    </td>
                                    <td class="total-line-name payment-due">
                                        <span class="payment-due-currency">VND</span>
                                        <span class="payment-due-price" data-checkout-payment-due-target="85500000">
                                            {{totalPrice}}
                                        </span>
                                        <span class="checkout_version" display:none="" data_checkout_version="0">
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-header">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/cart">Giỏ hàng</a>
                </li>

                <li class="breadcrumb-item breadcrumb-item-current">
                    Thông tin giao hàng
                </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="step">
                <div class="step-sections steps-onepage" step="1">
                    <div class="section">
                        <div class="section-header">
                            <h2 class="section-title">Thông tin giao hàng</h2>
                        </div>
                        <div class="section-content section-customer-information no-mb">
                            <div class="fieldset">
                                <div class="field field-required  ">
                                    <div class="field-input-wrapper">
                                        <label class="field-label" for="billing_address_full_name">Họ và tên</label>
                                        <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false"
                                            class="field-input" size="30" type="text" id="billing_address_full_name"
                                            name="billing_address[full_name]" value="" autocomplete="false" [(ngModel)]="name">
                                    </div>

                                </div>
                                <div class="field field-required field-two-thirds  ">
                                    <div class="field-input-wrapper">
                                        <label class="field-label" for="checkout_user_email">Email</label>
                                        <input autocomplete="false" placeholder="Email" autocapitalize="off"
                                            spellcheck="false" class="field-input" size="30" type="email"
                                            id="checkout_user_email" name="checkout_user[email]" value="" [(ngModel)]="email">
                                    </div>
                                </div>
                                <div class="field field-required field-third  ">
                                    <div class="field-input-wrapper">
                                        <label class="field-label" for="billing_address_phone">Số điện thoại</label>
                                        <input autocomplete="false" placeholder="Số điện thoại" autocapitalize="off"
                                            spellcheck="false" class="field-input" size="30" maxlength="15" type="tel"
                                            id="billing_address_phone" name="billing_address[phone]" value="" [(ngModel)]="phoneNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-content">
                            <div class="fieldset">
                                <form autocomplete="off" id="form_update_shipping_method" class="field default"
                                    accept-charset="UTF-8" method="post">
                                    <input name="utf8" type="hidden" value="✓">
                                    <div class="content-box mt0">
                                        <div id="form_update_location_customer_shipping"
                                            class="order-checkout__loading radio-wrapper content-box-row content-box-row-padding content-box-row-secondary "
                                            for="customer_pick_at_location_false">
                                            <div class="field field-show-floating-label field-required field-third ">
                                                <div class="field-input-wrapper field-input-wrapper-select">
                                                    <label class="field-label" for="customer_shipping_province"> Tỉnh /
                                                        thành </label>
                                                    <p-dropdown [options]="provinces" optionLabel="name"
                                                        placeholder="Select a City" [(ngModel)]="selectedProvince"
                                                        (onChange)="changeProvince($event)" [filter]="true"
                                                        filterBy="name" [ngModelOptions]="{standalone: true}" />
                                                </div>
                                            </div>
                                            <div class="field field-show-floating-label field-required field-third ">
                                                <div class="field-input-wrapper field-input-wrapper-select">
                                                    <label class="field-label" for="customer_shipping_district">Quận /
                                                        huyện</label>
                                                </div>
                                                <p-dropdown [options]="districts" optionLabel="name"
                                                    placeholder="Select a City" [(ngModel)]="selectedDistrict"
                                                    (onChange)="changeDistrict()" [filter]="true" filterBy="name"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </div>
                                            <div class="field field-show-floating-label field-required  field-third  ">
                                                <div class="field-input-wrapper field-input-wrapper-select">
                                                    <label class="field-label" for="customer_shipping_ward">Phường /
                                                        xã</label>
                                                </div>
                                                <p-dropdown [options]="wards" optionLabel="name"
                                                    placeholder="Select a City" [(ngModel)]="selectedWard"
                                                     [filter]="true" filterBy="name"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </div>
                                            <div class="field field-required  ">
                                                <div class="field-input-wrapper">
                                                    <label class="field-label" for="billing_address_address1">Địa
                                                        chỉ</label>
                                                    <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false"
                                                        class="field-input" size="30" type="text"
                                                        id="billing_address_address1" name="billing_address[address1]"
                                                        value="">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>
                        <div id="change_pick_location_or_shipping">
                            <div id="section-payment-method" class="section">
                                <div class="section-header">
                                    <h2 class="section-title">Phương thức thanh toán</h2>
                                </div>
                                <div class="section-content">
                                    <div class="content-box">
                                        <div class="radio-wrapper content-box-row">
                                            <label class="radio-label" for="payment_method_id_984588">
                                                <div class="radio-input payment-method-checkbox">
                                                    <input type-id="1" id="payment_method_id_984588" class="input-radio"
                                                        name="payment_method_id" type="radio" value="984588" checked="">
                                                </div>
                                                <div class="radio-content-input">
                                                    <img class="main-img"
                                                        src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=6">
                                                    <div>
                                                        <span class="radio-label-primary">Thanh toán khi giao hàng
                                                            (COD)</span>
                                                        <span class="quick-tagline hidden"></span>


                                                    </div>
                                                </div>
                                            </label>
                                        </div>

                                        <div class="radio-wrapper content-box-row content-box-row-secondary "
                                            for="payment_method_id_984588">
                                            <div class="blank-slate">
                                                Khi Shipper đến nhận hàng , vui lòng trả tiền trực tiếp cho Shipper !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="step-footer" id="step-footer-checkout">
                    <form id="form_next_step" accept-charset="UTF-8" method="post">
                        <button class="step-footer-continue-btn btn" (click)="createOrder()">
                            <span class="btn-content">Hoàn tất đơn hàng</span>
                            <i class="btn-spinner icon icon-button-spinner"></i>
                        </button>
                    </form>
                    <a class="step-footer-previous-link" href="/cart">
                        Giỏ hàng
                    </a>
                </div>
            </div>
        </div>

    </div>