/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

}

.input-field{
    text-align: left;
    .error-message{
        color: rgb(192, 26, 26);
    }
}

.form {
    max-width: 1200px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    input {
        height: 3rem !important;
    }
}


.user, .address{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.register-form {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 10rem;
}

.form .field {
    position: relative;

    width: 100%;
    border-radius: 6px;
    flex: 1 1 45%;

    input,
    button {
        height: 4rem !important;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
    }

    input {
        outline: none;
        padding: 0 15px;
        border: 1px solid#CACACA;

        &.invalid {
            border: 1px solid rgb(192, 26, 26) !important;
        }

        &:focus {
            border-bottom-width: 2px;
        }
    }
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
 
}

.field button:hover {
    background-color: #016dcb;
}

label {
    text-align: left;
    font-weight: 400;
}


.form-link {
    text-align: left;
    margin-top: 1.5em;
    flex: 1 1 45%;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff !important;
    background-color: #4267b2;
}


.facebook-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

::ng-deep .p-fieldset {
    padding: 0 1.125rem 1.125rem 1.125rem !important;
    margin: 0;
    border: 1px solid #e2e8f0 !important;
    background: #ffffff;
    color: #334155;
    border-radius: 6px;

    &-legend>span {
        border: 1px solid gray;
        border-radius: 6px;
        text-align: left;
        justify-content: flex-start;
    }
}


::ng-deep p-fieldset.p-element {
    flex: 1 1 45% !important;
}