:host {
    display: block;
    height: calc(100vh - 12rem);
    width: calc(100vw - 2rem);
}

p-menu {
    width: 15%;
    text-align: left;
}

::ng-deep.p-menu {
    width: 100% !important;
    height: 100% !important;
}

::ng-deep.p-menuitem-link {
    gap:1rem;
    padding-left: 1.5rem !important;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 29px;
    text-align: left;
    color: rgb(103, 110, 138);
    font-family: Lato, sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0px;
}

