
<div style="display: flex; gap: 2rem; height: 100%; padding-right: 2rem;">
    <p-menu [model]="items" #sidebarRef>
        <ng-template pTemplate="start">
            <span class="inline-flex align-items-center gap-1 px-2 py-2">
                <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg" class="block mx-auto">
                    <path d="..." fill="var(--primary-color)" />
                    <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">
                        <path d="..." fill="var(--primary-color-text)" />
                    </mask>
                    <g mask="url(#mask0_1_36)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="..." fill="var(--primary-color)" />
                    </g>
                </svg>
                <span class="font-medium text-xl font-semibold">
                    Dicelan Store
                </span>
            </span>
        </ng-template>
        <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
    </p-menu>
    <router-outlet></router-outlet>
</div>