<footer class="mainFooter footer  mainfooter-toolbar">
    <div class="title-expand visible-xs text-center">
        <a class="btn-fter" data-toggle="collapse" href="#fter-content" role="button" aria-expanded="false"
            aria-controls="fter-content">
            Thông tin khác<span class="fa fa-angle-down"> </span>
        </a>
    </div>
    <div class="bottom-footer text-center">
        <div class="container">
            <p>Copyright © 2024 <a href="https://Dicelan.com"> Dicelan</a>. <a href="https://www.haravan.com"
                    target="_blank" rel="noreferrer">Powered by Haravan</a></p>
        </div>
    </div>
</footer>