<footer class="mainFooter footer  mainfooter-toolbar   ">
    <div class="title-expand visible-xs text-center">
        <a class="btn-fter" data-toggle="collapse" href="#fter-content" role="button" aria-expanded="false"
            aria-controls="fter-content">
            Thông tin khác<span class="fa fa-angle-down"> </span>
        </a>
    </div>
    <div class="main-footer collapse" id="fter-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
                    <div class="footer-col footer-content1">
                        <h4 class="footer-title in">
                            HỘ KINH DOANH DICELAN
                        </h4>
                        <div class="footer-content">
                            <p>Giấy chứng nhận ĐKKD số 41O8035777 do UBND Bình Thạnh cấp lần đầu ngày 28/02/2018
                                <br>
                                Địa chỉ:350 Điện Biên Phủ, phường 17, Hồ Chí Minh
                                <br>
                                Email: dicelan&#64;gmail.com
                                <br>
                                Hotline: 093 407 6342
                            </p>
                            <div class="logo-footer">
                                <a href="http://online.gov.vn/Home/WebDetails/109038?AspxAutoDetectCookieSupport=1"
                                    target="_blank" rel="noreferrer">
                                    <img src="../file.hstatic.net/1000321269/file/hexcmkulyhczmakrdo-i8c6l8vaiyqtm4w_003a610e882947d9a02d2766cc1ef8f5.png"
                                        alt="Bộ Công Thương">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
                    <div class="footer-col footer-block">
                        <h4 class="footer-title in">
                            Liên kết
                        </h4>
                        <div class="footer-content toggle-footer">
                            <ul>
                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo
                                        mật</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/huong-dan-mua-hang-tai-web-tsun" title="Hướng dẫn mua hàng">Hướng
                                        dẫn mua hàng</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/chinh-sach-doi-tra-tai-tsun" title="Chính sách đổi trả">Chính sách
                                        đổi trả</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/huong-dan-thanh-toan" title="Hướng dẫn thanh toán">Hướng dẫn thanh
                                        toán</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/chinh-sach-van-chuyen" title="Chính sách vận chuyển">Chính sách vận
                                        chuyển</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/chinh-sach-kiem-hang" title="Chính sách kiểm hàng">Chính sách kiểm
                                        hàng</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                    <div class="footer-col in">
                        <h4 class="footer-title">
                            Thông tin liên hệ
                        </h4>
                        <div class="footer-content footer-contact">
                            <ul>
                                <li class="contact-1"><span>
                                        * FLAGSHIP STORE: 26 Trần Quang Diệu, phường 14, quận 3
                                        <br>
                                        * Đồng Nai: 47 Dương Tử Giang, phường Tân Tiến, TP. Biên Hoà
                                        <br>
                                        https://www.facebook.com/DICELAN.SG</span></li>
                                <li class="contact-2"><span>093 407 6342</span></li>
                                <li class="contact-3"><span></span></li>
                                <li class="contact-4"><span>dicelan&#64;gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                    <div class="footer-col in">
                        <h4 class="footer-title">
                            Fanpage
                        </h4>
                        <div class="footer-content footer-contact">
                            <!-- Facebook widget -->
                            <div class="footer-static-content">
                                <div class="fb-page" data-href="https://www.facebook.com/DICELAN.SG" data-height="300"
                                    data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                    data-show-facepile="true" data-show-posts="false"> </div>
                            </div>
                            <div style="clear:both;"></div>
                            <!-- #Facebook widget -->
                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.0";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer text-center">
        <div class="container">
            <p>Copyright © 2024 <a href="https://dicelan.com"> dicelan</a>. <a href="https://www.haravan.com"
                    target="_blank" rel="noreferrer">Powered by Haravan</a></p>
        </div>
    </div>
</footer>